<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="GlicemiaDBString"
            connectionString="Data Source=localhost\SQLEXPRESS;
            Initial Catalog=glicemia_db;
            TrustServerCertificate=True;
            Integrated security=True"/>
	</connectionStrings>
</configuration>